.single-trending-item{
    height: 500px !important;
}
.first-section {
    margin-top: 0rem !important;
}
.header-section {
    padding: 0rem 0 0rem !important; 
  
}
.content_bottom_left{
    margin-left: 10px !important;
    padding: 0 10px !important;
    background-color: black;
}
.update-news-section{
    padding-top: 10px !important;
}
.trending-item {
    
    margin-bottom: 4px !important;
}
h2:hover a{
    color: white !important;
    text-decoration: none !important;
}
h4:hover a{
    color: white !important;
    text-decoration: none !important;
}
.bold_line span {
    background-color: #ff002f !important;
}
.home a{
    color: white;
    text-decoration: none;
}
.hs-text:hover{
    color: white !important;
}
h3 a:hover{
    color: red !important;
    text-decoration: none !important;

}
