<html>
    
    <body>
      <header class="header">   
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="navbar-header">
              <!-- Navbar Header--><a routerLink="/" class="navbar-brand">
                <div class="brand-text brand-big visible text-uppercase"><img src="../../../assets/img/Alpha Banner.png" alt=""></div>
                <div class="brand-text brand-sm"><img src="../../../assets/Alpha Small Transparent.png" alt="" height="50" width="50"></div></a>
              <!-- Sidebar Toggle Btn-->
              <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
            </div>
            <div class="right-menu list-inline no-margin-bottom">    
              
              
              
              <!-- Languages dropdown    -->
              <div class="list-inline-item"><a id="languages" rel="nofollow" data-target="#" href="#"   class="nav-link language"><img src="../../../assets/admin/img/flags/16/IN.png" alt="English"></a>
              </div>
              <!-- Log out               -->
              <div class="list-inline-item logout" style="cursor: pointer;" (click)="userService.logOut()"><span class="d-none d-sm-inline">Logout </span><i class="icon-logout"></i></div>
            </div>
          </div>
        </nav>
      </header>
      <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="{{avatar}}" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h5">{{username | titlecase}}</h1>
              <p>Alpha Admin</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            <li ><a routerLink="/admin"> <i class="icon-home"></i>Home </a></li>
            <li><a routerLink="/users"> <i class="icon-user"></i>Users </a></li>
            <li  class="active"><a routerLink="/postStat"> <i class="icon-new-file"></i>Posts </a></li>
            
            
          </ul>
        </nav>
        <!-- Sidebar Navigation end-->
        <div class="page-content">
          <div class="page-header">
            <div class="container-fluid">
              <h1 class="h5 no-margin-bottom">Users</h1>
            </div>
          </div>
          <div class="body">
          <div class="container">
            <table class="text-center">
              <thead class="text-center">
                <tr>
                  <th scope="col">Serial No.</th>
                  <th scope="col">Title</th>
                  <th scope="col">Desc</th>
                  <th scope="col">Avatar</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let post of postList; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{post.title |slice:0:20}}...</td>
                  <td [innerHTML]="post.desc | slice:0:15"></td>
                  <td><img src="{{post.avatar}}" alt="" width="150" height="150"></td>
                  <td><i class="fa fa-trash-o text-black" style="font-size: 40px;" aria-hidden="true"></i></td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
          <!-- <table class="table table-dark text-center">
              <thead>
                <tr>
                  <th scope="col">Serial No.</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Avatar</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userList; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                  <td><img src="{{user.avatar}}" alt="" width="150" height="150"></td>
                  <td><i class="fa fa-trash-o text-warning" style="font-size: large;" aria-hidden="true"></i></td>
                </tr>
              </tbody>
            </table> -->
        </div>
      </div>
    </body>
    </html>
  
     
      
    

